
VITE_SUPABASE_URL=https://gciddjxyyxaqqxwvrann.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjaWRkanh5eXhhcXF4d3ZyYW5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NTIyMDcsImV4cCI6MjA4MzMyODIwN30.f8h_VM2fhOkDsMFKr_xQJateUPWYJcVTk4EQyIuEdTw
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjaWRkanh5eXhhcXF4d3ZyYW5uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzc1MjIwNywiZXhwIjoyMDgzMzI4MjA3fQ.qxwKar4Y_pLNqbyj9nSTz9-J1jQjXV7O3sIcGCMmGi4